.bg-light{
    background-color: #000 !important;
}
.navbar-brand{
    color: #fff !important;
}
.nav-item{
    color: #000 !important
}

input {
    height: 32px;
}

h1 {
    color: #5c24e4;
}
.fc-toolbar-chunk:nth-child(3) {
    display: none;
}
