.bg-light{
    background-color: #000 !important;
}
.navbar-brand{
    color: #fff !important;
}
.nav-item{
    color: #000 !important
}

input {
    border: 2px solid #3498db;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
    height: 32px;
}

input:focus {
    border-color: #2c3e50;
}

h1 {
    color: #5c24e4;
}
.fc-toolbar-chunk:nth-child(3) {
    display: none;
}
